<main class="cart-main">
	<div class="cart-index">
		<% @products.each do |product| %>
			<div class="cart-index-product">
				<div class="title-product">
					<%= link_to product.name, product %>
				</div>
				<div class="body-prod">
					<div class="body-prod-image">
						FOTO
					</div>
					<div class="body-prod-desc">
						<%= product.description %>
					</div>
				</div>
				<div class="price-and-button">
					<div class="price">
						$ <%= product.price %>
					</div>
					<div class="button">
						<%= form_with(url: "/carts", method: "patch") do %>
							<%= hidden_field_tag(:product_id, product.id)%>
							<%= submit_tag("agregar producto") %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="cart-cart">
		<div class="total-carrito">
			<div class="total-carrito-title">  Total </div>
			<div class="total-carrito-price"> <%= @cart.set_total%> </div>
		</div>
		<% @cart.line_items.each do |line_item| %>
		<div class="cart-cart-product">
			<div class="cart-price">
				<%= line_item.product.price%>
			</div>
			<div class="cart-name">
				<%= line_item.product.name %>
			</div>
			<div class="cart-add">
				+
			</div>
			<div class="cart-quantity">
				<%= line_item.quantity %>
			</div>
			<div class="cart-subtract">
				-
			</div>
		</div>
		<% end %>
	</div>
</main>