<main class="cart-main">
	<div class="cart-index">
		<% @products.each do |product| %>
			<div class="cart-index-product">
				<div class="title-product">
					<%= link_to product.name, product %>
				</div>
				<div class="body-prod">
					<div class="body-prod-image">
						FOTO
					</div>
					<div class="body-prod-desc">
						<%= product.description %>
					</div>
				</div>
				<div class="price-and-button">
					<div class="price">
						$ <%= product.price %>
					</div>
					<div class="button">
						<%= form_with(url: "/cart", method: "patch") do %>
							<%= submit_tag("agregar producto") %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="cart-cart">
		<div class="total-carrito">
			<div class="total-carrito-title">  Total </div>
			<div class="total-carrito-price"> $$$ </div>
		</div>
		<div class="cart-cart-product">
			<div class="cart-price">

			</div>
			<div class="cart-name">

			</div>
			<div class="cart-add">
				+
			</div>
			<div class="cart-quantity">
				1
			</div>
			<div class="cart-subtract">
				-
			</div>
		</div>
	</div>
</main>